body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--primary: #6fc6c8;
	--switch-checked-background-color: var(--primary);
}
